body {
    font-family: 'Montserrat', sans-serif;
    background-color: white;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 760;
}

.container {
    display: grid;
    grid-template-columns: 0.4fr 1.6fr 0.4fr;
    grid-template-rows: 0.4fr 0.35fr 2fr 0.35fr 0.4fr;
    grid-auto-columns: 1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
        "header header header"
        "add-el main sidebar-right"
        "sidebar-left main sidebar-right"
        "sidebar-left add-footer sidebar-right"
        "footer footer footer";
}

.header {
    padding-top: 44px;
    padding-bottom: 42px;
    grid-area: header;
    background-color:#375d63;
}

.footer {
    padding-top: 44px;
    padding-bottom: 42px;
    grid-area: footer;
    background-color: #375d63;
    /* height: 100%; */
}

.sidebar-left {
    grid-area: sidebar-left;
    background-color: #b8d6ee;
}

.sidebar-right {
    grid-area: sidebar-right;
    background-color: #b8d6ee;
}

.sidebar-content {
    padding-left: 40px;
    padding-top: 16px;
    padding-right: 40px;
    box-sizing: border-box;
}

.add-el {
    padding: 20px 20px 12px 20px;
    align-items: center;
    grid-area: add-el;
    background-color: #add236;
}

.add-footer {
    padding: 20px 20px 12px 20px;
    align-items: center;
    grid-area: add-footer;
    background-color: #add236;
}

.main {
    padding: 16px 8px 2px 8px;
    grid-area: main;
    margin-bottom: 0px;
}

.main-text-box {
    padding: 4px;
}

.right-align {
    float: right;
    /* margin: 30px; */
    padding-top: 12px;
    padding-bottom: 12px;
    padding-left: 12px;
    padding-right: 12px;
    margin-right: 68px;
    background-color: #b8d8e3;
    align-items: center;
}

img {
    display: block;
    width: 356px;
    height: auto;
    margin: 10px;
}


.img-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.main-title-style {
    color: #000;
    font-size: 22px;
    font-weight: 700;
    line-height: 27px;
    margin-top: 0px;
    margin-bottom: 0px;
    text-align: center;
    flex: 1;
}

.add-title-style {
    color: #000;
    font-size: 20px;
    font-weight: 550;
    line-height: 24px;
    margin-top: 0px;
    margin-bottom: 0px;
    text-align: center;
    flex: 1;
}

.main-text-style {
    color: #000;
    font-size: 18px;
    font-weight: 400;
    line-height: 27px;
    margin-top: 6px;
    margin-bottom: 0px;
    text-align: left;
}

.add-text{
    color: #000;
    font-size: 16px;
    font-weight: 600;
    line-height: 24px;
    margin-top: 0px;
    margin-bottom: 0px;
    /* padding: 6px 16px 4px 16px; */
    text-align: center;
}

ol {
    /* list-style-type: none; */
    padding: 0;
    padding-left: 12px;
    margin: 0;
}

ol li, ul li {
    margin: 0;
    padding-left: 8px;
    font-size: 18px;
    font-weight: 400;
    line-height: 27px;
    color: #000;
}

ol li a {
    text-decoration: none;
    color: navy;
}

ol li a:active,
ol li a:hover {
    text-decoration: underline;
    color: royalblue;
}

.li-title {
    color: #000;
    font-style: italic;
    font-size: 18px;
    font-weight: 600;
    line-height: 27px;
    margin-top: 0px;
    margin-bottom: 0px;
    text-align: left;
}

